@tailwind base;
@tailwind components;
@tailwind utilities;

html,
div {
  padding: 0;
  margin: 0;
  font-family: poppins;
}
body {
  margin: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "poppins";
  src: url(../assets/font/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poppins medium";
  src: url(../assets/font/poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "poppins semibold";
  src: url(../assets/font/poppins/Poppins-SemiBold.ttf);
}
.Mui-selected{
  color:#000 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}
.MuiTabs-indicator{
  background-color: #000 !important;
  width: 35% !important;
  margin-left: 14px !important;
}