.toggle_container {
    padding: 0.5rem;
}
.checkbox {
    opacity: 0;
    position: absolute;
}
.checkbox:checked+.label .ball {
    transform: translateX(24px);
}
.label {
    width: 50px;
    height: 26px;
    background-color: rgba(46, 49, 56, 0.51);
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 3px;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    transition: transform 0.2s linear;
}