.container {
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  padding: 30px 20px 0px 20px;
 
}
.tempText {
  font-size: 32px !important;
}
.timeText {
  color: #a9a9a9 !important;
}

.containe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.imageContainer {
  position: relative;
  text-align: center;
  height: 40px !important;
}

.image {
  border-radius: 16px;
  height:400%;
  width: 100%;
}

.text {
  position: absolute;
  top: 100%;
  left: 20%;
  /* transform: translate(-50%, -50%); */
  font-size: 1.25rem;
  color: white;
  /* Customize text color */
}
